.fonPageProduct {
    background-image: url(../components/img/productFon.jpg);
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    text-align:center;
    align-items:initial;
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    color: #FFF;
    text-shadow: -2px 0 0 #000000, 0 -2px 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000, -2px -2px 0 #000000, 2px 2px 0 #000000, -2px 2px 0 #000000, 2px -2px 0 #000000;
  }

  .containerProduct {
    align-items: center;
  }

  .rowImgProduct {
    margin-top: 3%;
  }

  .imgProduct {
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    border-radius: 10%;
    margin-top: 5%;
  }

  .colModalProduct {
    margin-top: 5%;
  }

  .colCartProduct {
    margin-top: 3%;
    flex: column;
  }

  .cardProduct {
    margin-top: 5%;
    border: none;
    background: none;
  }

  .addToCartProduct {
    color: #FFF;
    text-shadow: -2px 0 0 #000000, 0 -2px 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000, -2px -2px 0 #000000, 2px 2px 0 #000000, -2px 2px 0 #000000, 2px -2px 0 #000000;
  }

  .button-addToCartProduct {
    cursor: pointer;
    margin-top: 20%;
    background-image: black;
  }

  .rowSpecificationsProduct  {
    display: flex;
    flex: column;
    margin: 3%;
  }

  .tableProduct {
    color: #FFF;
  }

  .button-create-info {
    cursor: pointer;
    border-radius: 5px
  }

  .svg :hover {
    transition: all;
    fill: red;
  }

  /* .cart-button {
    position: relative;
    padding: 10px;
    width: 200px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #FFF;
    outline: none;
    color: #000;
    transition: 3s ease-in-out;
    overflow: hidden;
  }

  .cart-button:hover {
    background-color: #FFF;
  }

  .cart-button:active {
    transform: scale(.9);
  }

  .cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
  }

  .cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
  }

  .cart-button span {
    position: absolute;
    left: 50%;
    z-index: 3;
    color: #000;
    top: 50%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
  }

  .cart-button span.add-to-cart {
    opacity: 1;
  }

  .cart-button span.added {
    opacity: 0;
  }

  .cart-button.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
  }

  .cart-button.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
  }

  .cart-button.clicked span.added {
    animation: txt 1.5s ease-in-out forwards;
  }

  @keyframes cart {
    0% {
      left: -10%;
    }
    40%, 60% {
      left: 50%;
    }
    100% {
      left: 110%;
    }
  }

  @keyframes box {
    0%, 40% {
      top: -20%;
    }
    60% {
      top: 40%;
      left: 52%;
    }
    100% {
      top: 40%;
      left: 112%;
    }
  }

  @keyframes txt1 {
    0% {
      opacity: 1;
    }
    20%, 100% {
      opacity: 0;
    }
  }

  @keyframes txt2 {
    0%, 80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */